body {
    background: url("../images/source.gif") no-repeat;
    background-size: cover;
}

#cen {
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    padding-top: 200px;
}

.midd{
    text-align:center;
    color: black;
    font-size: 14px;
}

.row{
    margin: auto;
   padding: 10px;
}
.icons {
    height:150px;
    width: 150px;
}

