.navbar-style{
    background-color:#1D4D7B;
}
body {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/e/ea/USS_Intrepid_%28CV-11%29_operating_in_the_Philippine_Sea_in_November_1944_%28NH_97468%29.jpg/1200px-USS_Intrepid_%28CV-11%29_operating_in_the_Philippine_Sea_in_November_1944_%28NH_97468%29.jpg") no-repeat;
    background-size: cover;
}
.row {
      -webkit-columns: 3 300px;
      display: flex;
      align-content: space-around;
}
.prof-pic {
    width: 100px;
	height: 100px;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
}
.card-1 {
    flex-grow: 1;
}
.two {
    flex-grow: 2;
    align-content: space-around;
    display:block;
}

.column{
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}